<h2>Log In</h2>

<hr />

<form method="post" action="~/Authentication/Authenticate">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="username" required />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" required />
    </div>

    <input class="btn btn-primary" type="submit" value="Submit" />
</form>