@using UseCases.Presenters

@model ResidencePresenter

@Html.Partial("_KOErrors")

<div class="residence-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="building">Building<abbr class="required" title="This field is required"> *</abbr></label>
                <select class="form-control" id="building" data-bind="options: allBuildings, optionsValue: 'ID', optionsText: 'Name', value: buildingId, optionsCaption: 'Choose a Building...'"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name<abbr class="required" title="This field is required"> *</abbr></label>
                <input class="form-control" id="name" type="text" data-bind="value: name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Comments</label><a class="new-comment" data-bind="click: addResidenceComment">Add Comment</a>
            <!-- ko foreach: residenceComments -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" data-bind="value: value" />
                    <div class="input-group-addon" data-bind="click: $parent.removeResidenceComment"><span class="glyphicon glyphicon-remove"></span></div>
                </div>
                <small><em data-bind="text: commentInfo"></em></small>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <a href="#" class="btn btn-primary" data-bind="click: save">Save</a>
</div>