@using InquilinxsUnidxs.Presenters

@model BuildingPresenter

@Html.Partial("_KOErrors")

<div class="building-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="landlord">Landlord<abbr class="required" title="This field is required"> *</abbr></label>
                <select class="form-control" id="landlord" data-bind="options: allLandlords, optionsValue: 'Item1', optionsText: 'Item2', value: landlordId, optionsCaption: 'Choose a Landlord...'"></select>
            </div>
            <div class="form-group">
                <label for="landlord">Neighborhood<abbr class="required" title="This field is required"> *</abbr></label>
                <select class="form-control" id="neighborhood" data-bind="options: allNeighborhoods, optionsValue: 'Item1', optionsText: 'Item2', value: neighborhoodId, optionsCaption: 'Choose a Neighborhood...'"></select>
            </div>
            <div class="form-group">
                <label for="address">Address<abbr class="required" title="This field is required"> *</abbr></label>
                <input class="form-control" id="address" type="text" data-bind="value: address" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City<abbr class="required" title="This field is required"> *</abbr></label>
                <input class="form-control" id="city" type="text" data-bind="value: city" />
            </div>
            <div class="form-group">
                <label for="state">State<abbr class="required" title="This field is required"> *</abbr></label>
                <select class="form-control" id="state" data-bind="options: allStates, optionsValue: 'Item1', optionsText: 'Item2', value: stateId, optionsCaption: 'Choose a State...'"></select>
            </div>
            <div class="form-group">
                <label for="zip">ZIP<abbr class="required" title="This field is required"> *</abbr></label>
                <input class="form-control" id="zip" type="text" data-bind="value: zip" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Comments</label><a class="new-comment" data-bind="click: addBuildingComment">Add Comment</a>
            <!-- ko foreach: buildingComments -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" data-bind="value: comment" />
                    <div class="input-group-addon" data-bind="click: $parent.removeBuildingComment"><span class="glyphicon glyphicon-remove"></span></div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-12">
            <label>Images</label><a class="new-image" data-toggle="modal" data-target="#myModal" data-bind="click: addBuildingImage">Add Image</a>
            <div class="row">
                <!-- ko foreach: buildingImages -->
                <div class="col-md-3">
                    <div class="form-group building-image">
                        <div class="input-group">
                            <img data-bind="attr: { src: SASURL }" />
                            <div class="input-group-addon" data-bind="click: $parent.removeBuildingImage"><span class="glyphicon glyphicon-remove"></span></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>  
        </div>
    </div>

    <img src="@Html.Action("GetFileURL", "File", new { fileID = 1 } )" />

    <a href="#" class="btn btn-primary" data-bind="click: save">Save</a>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" id="file" />
                    </div>                   
                    <button class="btn btn-primary" data-bind="click: uploadFile">Upload File</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

</div>