@using InquilinxsUnidxs.Presenters
@using Newtonsoft.Json
@using System.Web.Mvc.Html

@model PaginationPresenter<BuildingPresenter>

@{
    var index = JsonConvert.SerializeObject(Model.Model);
}

@section scripts
{
    <script src="~/Content/JS/Building.js"></script>

    <script>
        var container = document.getElementById("building-index");
        var vm = new BuildingIndex(@Html.Raw(index));
        ko.applyBindings(vm, container);
    </script>
}

<h1>Building Index</h1>

<div class="form-group">
    @Html.ActionLink("New", "New", null, new { @class = "btn btn-primary" })
</div>

@if (Model.TotalRecords > 0)
{
    <div id="building-index">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>ZIP</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: buildings -->
                <tr>
                    <td data-bind="text: address"></td>
                    <td data-bind="text: city"></td>
                    <td data-bind="text: stateAbbreviation"></td>
                    <td data-bind="text: zip"></td>
                    <td><a data-bind="attr: { href: detailLink }">Detail</a></td>
                    <td><a data-bind="attr: { href: editLink }">Edit</a></td>
                    <td><a href="#" data-bind="click: $root.deleteBuilding.bind($root, $data)">Delete</a></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>

    if (Model.TotalPages > 1)
    {
        @Html.Partial("_Pagination", Model)
    }
}
else
{
    <div class="no-data">No Buildings Found</div>
}