@using InquilinxsUnidxs.Presenters

@model RenterPresenter

@Html.Partial("_KOErrors")

<div class="form-group">
    <label for="first-name">First Name<abbr class="required" title="This field is required"> *</abbr></label>
    <input class="form-control" id="first-name" type="text" data-bind="value: firstName" />
</div>

<div class="form-group">
    <label for="last-name">Last Name<abbr class="required" title="This field is required"> *</abbr></label>
    <input class="form-control" id="last-name" type="text" data-bind="value: lastName" />
</div>

<div class="form-group">
    <label for="address1">Address 1<abbr class="required" title="This field is required"> *</abbr></label>
    <input class="form-control" id="address1" type="text" data-bind="value: address1" />
</div>

<div class="form-group">
    <label for="address2">Address 2</label>
    <input class="form-control" id="address2" type="text" data-bind="value: address2" />
</div>

<div class="form-group">
    <label for="city">City<abbr class="required" title="This field is required"> *</abbr></label>
    <input class="form-control" id="city" type="text" data-bind="value: city" />
</div>

<div class="form-group">
    <label for="state">State<abbr class="required" title="This field is required"> *</abbr></label>
    <select class="form-control" id="state" data-bind="options: allStates, optionsValue: 'Item1', optionsText: 'Item2', value: stateId, optionsCaption: 'Choose a State...'"></select>
</div>

<div class="form-group">
    <label for="zip">ZIP<abbr class="required" title="This field is required"> *</abbr></label>
    <input class="form-control" id="zip" type="text" data-bind="value: zip" />
</div>

<a href="#" class="btn btn-primary" data-bind="click: save">Save</a>