@using InquilinxsUnidxs.Presenters

@model RenterPresenter

@Html.ActionLink("Back to Index", "Index")

<h1>New Renter</h1>

<form action="~/Renter/Create" method="post" enctype="application/x-www-form-urlencoded">
    @Html.Partial("Form", Model)
</form>