@using UseCases.Presenters

@model NeighborhoodPresenter

@Html.ActionLink("Back to Index", "Index")

<h1>Neighborhood Details</h1>

<div>
    <label>Name:</label>
    @Model.Name
</div>

<div class="form-group">
    <label><u>Buildings:</u></label>
    @foreach (var building in Model.Buildings)
    {
        <div>@Html.ActionLink(building.Item2, "Detail", "Building", new { buildingID = building.Item1 }, null)</div>
    }
</div>