@using UseCases.Presenters
@using Newtonsoft.Json

@model LandlordPresenter

@{
    var renter = JsonConvert.SerializeObject(Model);
}

@section scripts
{
    <script src="~/Content/JS/Landlord.js"></script>

    <script>
        var container = document.getElementById("new-landlord-form");
        var vm = new Landlord(@Html.Raw(renter));
        ko.applyBindings(vm, container);
    </script>
}

@Html.ActionLink("Back to Index", "Index")

<h1>Edit Landlord</h1>

<div id="edit-landlord-form">
    @Html.Partial("_Form", Model)
</div>