@using UseCases.Presenters
@using Newtonsoft.Json
@using System.Web.Mvc.Html

@model PaginationPresenter<LandlordPresenter>

@{
    var index = JsonConvert.SerializeObject(Model.Model);
}

@section scripts
{
    <script src="~/Content/JS/Landlord.js"></script>

    <script>
        var container = document.getElementById("landlord-index");
        var vm = new LandlordIndex(@Html.Raw(index));
        ko.applyBindings(vm, container);
    </script>
}

<h1>Landlord Index</h1>

<div class="form-group">
    @Html.ActionLink("New", "New", null, new { @class = "btn btn-primary" })
</div>

@if (Model.PaginationInfo.TotalRecords > 0)
{
    <div id="landlord-index">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: landlords -->
                <tr>
                    <td data-bind="text: firstName"></td>
                    <td data-bind="text: lastName"></td>
                    <td><a data-bind="attr: { href: detailLink }">Detail</a></td>
                    <td><a data-bind="attr: { href: editLink }">Edit</a></td>
                    <td><a href="#" data-bind="click: $root.deleteLandlord.bind($root, $data)">Delete</a></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>

    if (Model.PaginationInfo.TotalPages > 1)
    {
        @Html.Partial("_Pagination", Model)
    }
}
else
{
    <div class="no-data">No Landlords Found</div>
}