@using InquilinxsUnidxs.Presenters
@using Newtonsoft.Json

@model MapPresenter

@{
    var presenter = JsonConvert.SerializeObject(Model);
}

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZR2L4X7wU8GVxaVfNlPnE47pj39cVAbc"></script>
    <script src="~/Content/JS/Map.js"></script>

    <script>
        var container = document.getElementById("map-container");
        var vm = new Map(@Html.Raw(presenter));
        ko.applyBindings(vm, container);
    </script>
}

<div id="map-container">
    <div class="map-controls">
        <div class="row">
            <div class="col-md-3">
                <label>Neighborhoods</label>
            </div>
            <div class="col-md-3">
                <label>Landlords</label>
            </div>
            <div class="col-md-3">
                <label>Address</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <select class="form-control" data-bind="options: allNeighborhoods, optionsValue: 'Item1', optionsText: 'Item2', value: neighborhoodId, optionsCaption: 'Filter by Neighborhood...'"></select>
            </div>
            <div class="col-md-3">
                <select class="form-control" data-bind="options: allLandlords, optionsValue: 'Item1', optionsText: 'Item2', value: landlordId, optionsCaption: 'Filter by Landlord...'"></select>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" data-bind="value: filter" placeholder="Filter by Address..." />
            </div>
            <button class="btn btn-primary" data-bind="click: applyFilters">Apply</button>
        </div>
    </div>

    <div id="map" class="map">

    </div>
</div>